@page "/info"
@using TwelfthMorning.Shared.About

<div class="card">
    <div class="card-body">
        <DynamicComponent Type="@selectedType"/>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-info @(IsActive(nameof(Info)))" @onclick="(() => OnClick(nameof(Info)))" >info</button>
            <button type="button" class="btn btn-outline-info @(IsActive(nameof(Links)))" @onclick="(() => OnClick(nameof(Links)))" >links</button>
            <button type="button" class="btn btn-outline-info @(IsActive(nameof(Faq)))" @onclick="(() => OnClick(nameof(Faq)))" >faq</button>
            <button type="button" class="btn btn-outline-info @(IsActive(nameof(Epithets)))" @onclick="(() => OnClick(nameof(Epithets)))" >epithets</button>
        </div>
    </div>
</div>

@code {
    private Type? selectedType = typeof(Info);

    private void OnClick(string selected)
    {
        selectedType = selected.Length > 0 ? Type.GetType($"TwelfthMorning.Shared.About.{selected}") : null;
        if(selectedType == null)
        {
            selectedType = typeof(Info);
        }
        StateHasChanged();
    }

    private string IsActive(string type)
    {
        return selectedType.Name == type ? "active" : "";
    }

}
