@page "/blog"
@page "/blog/{type}"

@using _12thMorning.Data

@implements IDisposable

@inject BlogService BlogDataService
@inject IJSRuntime JSRuntime
@inject Microsoft.AspNetCore.Components.NavigationManager NavManager

<base href="~/" />
<h3>The Blogs</h3>

<BSPagination>
    <BSPaginationItem>
        <BSPaginationLink @onclick="PerviousPage" PaginationLinkType="PaginationLinkType.PreviousText" />
    </BSPaginationItem>
    @foreach (var x in pages) {
        <BSPaginationItem>
            <BSPaginationLink @onclick="@(() => GoToPage(x))" PaginationLinkType="PaginationLinkType.Custom">@x</BSPaginationLink>
        </BSPaginationItem>
    }
    <BSPaginationItem>
        <BSPaginationLink @onclick="NextPage" PaginationLinkType="PaginationLinkType.NextText" />
    </BSPaginationItem>
</BSPagination>

@foreach (var blog in blogs) {
    <h1><a href="blogpost/@blog.PostNumber">@blog.Title</a></h1>
    <small><small>@blog.DateAdded.ToString("dd MMMM yyyy")</small></small>
    <div>
        @((MarkupString)BlogDataService.GetPreviewPost(blog.Post))
    </div>
    <br />
}

<BSPagination Class="mb-3">
    <BSPaginationItem>
        <BSPaginationLink @onclick="PerviousPage" PaginationLinkType="PaginationLinkType.PreviousText" />
    </BSPaginationItem>
    @foreach (var x in pages) {
        <BSPaginationItem>
            <BSPaginationLink @onclick="@(() => GoToPage(x))" PaginationLinkType="PaginationLinkType.Custom">@x</BSPaginationLink>
        </BSPaginationItem>
    }
    <BSPaginationItem>
        <BSPaginationLink @onclick="NextPage" PaginationLinkType="PaginationLinkType.NextText" />
    </BSPaginationItem>
</BSPagination>


@code {
    [Parameter]
    public string type { get; set; }
    private List<Blog> blogs;
    private int page = 0;
    private int size = 10;
    private List<int> pages;
    private int count;

    private async void OnLocationChanges(object sender, LocationChangedEventArgs e) => await Update();

    private async Task Update() {
        count = BlogDataService.GetPages(size, type);
        page = 0;
        pages = new List<int>();
        for (int x = 1; x <= count; x++) {
            pages.Add(x);
        }
        blogs = await BlogDataService.GetBlogList(page, size, type);
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync() {
        await Update();
        NavManager.LocationChanged += OnLocationChanges;
    }

    public void Dispose() {
        NavManager.LocationChanged -= OnLocationChanges;
    }

    private async Task MoveToTop() {
        await JSRuntime.InvokeAsync<string>("window.scrollTo", 0,0);
    }

    protected async void GoToPage(int index) {
        page = index - 1;
        blogs = await BlogDataService.GetBlogList(page, size, type);
        await MoveToTop();
    }

    protected async void NextPage() {
        if (page != count - 1) {
            page++;
        }
        blogs = await BlogDataService.GetBlogList(page, size, type);
        await MoveToTop();
    }

    protected async void PerviousPage() {
        if (page != 0) {
            page--;
        }
        blogs = await BlogDataService.GetBlogList(page, size, type);
        await MoveToTop();
    }

}
