@using _12thMorning.Data
@inject BlogService BlogDataService
@inject IJSRuntime JSRuntime;

<BSPagination>
    <BSPaginationItem>
        <BSPaginationLink href='blog/#' @onclick="PerviousPage" PaginationLinkType="PaginationLinkType.PreviousText" />
    </BSPaginationItem>
    @foreach (var x in pages) {
        <BSPaginationItem IsActive="(x - 1) == page">
            <BSPaginationLink href='blog/#' @onclick="@(() => GoToPage(x))"  PaginationLinkType="PaginationLinkType.Custom">@x</BSPaginationLink>
        </BSPaginationItem>
    }
    <BSPaginationItem>
        <BSPaginationLink href='blog/#' @onclick="NextPage" PaginationLinkType="PaginationLinkType.NextText" />
    </BSPaginationItem>
</BSPagination>

@foreach (var blog in blogs) {
    <h1><a href="blogpost/@blog.PostNumber">@blog.Title</a></h1>
    <small><small>@blog.DateAdded.ToString("dd MMMM yyyy")</small></small>
    <div>
        @((MarkupString)BlogDataService.GetPreviewPost(blog.Post))
    </div>
    <br />
}

<BSPagination Class="mb-3">
    <BSPaginationItem>
        <BSPaginationLink href='blog/#' @onclick="PerviousPage" PaginationLinkType="PaginationLinkType.PreviousText" />
    </BSPaginationItem>
    @foreach (var x in pages) {
        <BSPaginationItem IsActive="(x - 1) == page">
            <BSPaginationLink href='blog/#' @onclick="@(() => GoToPage(x))" PaginationLinkType="PaginationLinkType.Custom">@x</BSPaginationLink>
        </BSPaginationItem>
    }
    <BSPaginationItem>
        <BSPaginationLink href='blog/#' @onclick="NextPage" PaginationLinkType="PaginationLinkType.NextText" />
    </BSPaginationItem>
</BSPagination>
@ChildContent

@code {
    [Parameter]
    public string type { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    private List<Blog> blogs;
    private int page = 0;
    private int size = 5;
    private List<int> pages = new List<int>();
    private int count;

    protected override async Task OnInitializedAsync() {
        count = BlogDataService.GetPages(size, type);
        for (int x = 1; x <= count; x++) {
            pages.Add(x);
        }
        blogs = await BlogDataService.GetBlogList(page, size, type);
        this.StateHasChanged();
    }

    protected async void GoToPage(int index) {
        page = index - 1;
        blogs = await BlogDataService.GetBlogList(page, size, type);
    }

    protected async void NextPage() {
        if (page != count - 1) {
            page++;
        }
        blogs = await BlogDataService.GetBlogList(page, size, type);
    }

    protected async void PerviousPage() {
        if (page != 0) {
            page--;
        }
        blogs = await BlogDataService.GetBlogList(page, size, type);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            await JSRuntime.InvokeAsync<string>("PR.prettyPrint");
        }
    }



}
