@using Microsoft.AspNetCore.Components.Routing
@inject TokenProvider TokenProvider

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p>how did you get here?</p>
                </NotAuthorized>
                <Authorizing>
                    <p>standy, authorizing</p>
                </Authorizing>
            </AuthorizeRouteView>
            @*<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />*@
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>

</CascadingAuthenticationState>

<_12thMorning.Pages.Tools.GoogleAnalytics TrackingId="UA-90024121-1" />

@code {
    //[Parameter]
    //public TokenProvider TokenState { get; set; }

    //protected override Task OnInitializedAsync()
    //{
    //    TokenProvider.AccessToken = TokenState.AccessToken;
    //    TokenProvider.RefreshToken = TokenState.RefreshToken;

    //    return base.OnInitializedAsync();
    //}
}