@page "/queslar/partners"
@inherits ApiCheck
@using System.Net.Http
@inject QueslarService Queslar
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@using _12thMorning.Models.Queslar.Player
@using _12thMorning.Libraries.Queslar
@using _12thMorning.Models.Queslar 

@name
@if (PlayerInfo != null) {
    <BSButton OnClick="Refresh">Refresh</BSButton>
    <span><small> you can support the creator of this tool at "VifsVestige" enchanting service</small></span>

    <br/>
    <BSButton Color="Color.Primary" OnClick="@(e => toggleDropDowns(e, "current"))">current partners</BSButton>
    <BSCollapse IsOpen="@Toggles["current"]">
        <BSTable IsStriped="true" IsSmall="true" IsBordered="true">
            <thead>
                <tr>
                    <th scope="col">name</th>
                    <th>res</th>
                    <th>stat</th>
                    <th>player stat</th>
                    <th>speed</th>
                    <th>int</th>
                    <th>total stats</th>
                    <th>res</th>
                    <th>res/hour</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var partner in PlayerInfo.PartnerInfo.PartnerInfos.Values) {
                    <tr>
                        <th scope="row">@partner.BaseInfo.name</th>
                        <th>
                            <BSDropdown>
                                <BSDropdownToggle>@partner.Display</BSDropdownToggle>
                                <BSDropdownMenu>
                                    @foreach (string resType in Enum.GetNames(typeof(ResTypes))) {
                                        <BSDropdownItem @onclick="@(e => OnClick(e, resType, partner.BaseInfo.id))" Href="javascript:void(0);">@resType</BSDropdownItem>
                                    }
                                </BSDropdownMenu>
                            </BSDropdown>
                        </th>
                        <th>@partner.Stats</th>
                        <th><BSBasicInput @bind-Value="partner.PlayerStat" @onkeyup="partner.UpdateStats" InputType="InputType.Number" /></th>
                        <th>@partner.Current.Speed/@partner.Current.Seconds</th>
                        <th>@partner.Current.Intelligence/@partner.Current.IntPercent.ToString("0.####")</th>
                        <th>@partner.Current.TotalStats.ToString("N0")</th>
                        <th>@partner.Current.ResPre</th>
                        <th>@partner.Current.ResPerHourPre.ToString("N0")</th>
                        <th>@partner.New.TotalSpent.ToString("N0")</th>
                    </tr>
                }
                <tr>
                    <th scope="col">Total</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>@PlayerInfo.PartnerInfo.CurrentResHour.ToString("N0")</th>
                    <th>@PlayerInfo.PartnerInfo.CurrentPrice.ToString("N0")</th>
                </tr>

            </tbody>
        </BSTable>
    </BSCollapse>
    <br/>
    <BSButton Color="Color.Primary" OnClick="@(e => toggleDropDowns(e, "new"))">new partners</BSButton>
    <BSCollapse IsOpen="@Toggles["new"]">
        <BSTable IsStriped="true" IsSmall="true" IsBordered="true">
            <thead>
                <tr>
                    <th scope="col">name</th>
                    <th>speed</th>
                    <th>seconds</th>
                    <th>int</th>
                    <th>int%</th>
                    <th>total stats</th>
                    <th>res</th>
                    <th>res/hour</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var partner in PlayerInfo.PartnerInfo.PartnerInfos.Values) {
                    <tr>
                        <th scope="row">@(partner.BaseInfo.name) (@partner.Display)</th>
                        <th><BSBasicInput @bind-Value="partner.New.Speed" @onkeyup="PlayerInfo.PartnerInfo.updateNew" InputType="InputType.Number" tabindex="1" /></th>
                        <th>@partner.New.Seconds</th>
                        <th><BSBasicInput @bind-Value="partner.New.Intelligence" @onkeyup="PlayerInfo.PartnerInfo.updateNew" InputType="InputType.Number" tabindex="2" /></th>
                        <th>@partner.New.IntPercent.ToString("0.####")</th>
                        <th>@partner.New.TotalStats.ToString("N0")</th>
                        <th>@partner.New.ResPre</th>
                        <th>@partner.New.ResPerHourPre.ToString("N0")</th>
                        <th>@partner.New.TotalSpent.ToString("N0")</th>
                    </tr>
                }

                <tr>
                    <th scope="col">Total</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                    <th>@PlayerInfo.PartnerInfo.NewResHour.ToString("N0")</th>
                    <th>@PlayerInfo.PartnerInfo.NewPrice.ToString("N0")</th>
                </tr>

            </tbody>
        </BSTable>
        <span>
            Current Total (@PlayerInfo.PartnerInfo.CurrentPrice.ToString("N0")) - New Total(@PlayerInfo.PartnerInfo.NewPrice.ToString("N0")) - Bound Gold (@PlayerInfo.BaseInfo.currency.shattered_partner_gold.ToString("N0")) =
            Needed <b>@((PlayerInfo.PartnerInfo.NewPrice - PlayerInfo.PartnerInfo.CurrentPrice - PlayerInfo.BaseInfo.currency.shattered_partner_gold).ToString("N0"))</b>
        </span>
    </BSCollapse>
    <br/>
    <BSButton Color="Color.Primary" OnClick="@(e => toggleDropDowns(e, "boost"))">boosts</BSButton>
    <BSCollapse IsOpen="@Toggles["boost"]">
        <BSTable IsStriped="true" IsSmall="true" IsBordered="true">
            <thead>
                <tr>
                    <th scope="col">name</th>
                    <th>relic boost</th>
                    <th>house</th>
                    <th>enchants</th>
                    <th>village boost</th>
                    <th>vip</th>
                    <th>level</th>
                    <th>kingdom</th>
                    <th>tax</th>
                    <th>taxed</th>
                    <th>res</th>
                    <th>after tax</th>
                    <th>res/hour</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var partner in PlayerInfo.PartnerInfo.PartnerInfos.Values) {
                <tr>
                    <th>@(partner.BaseInfo.name) (@partner.Display)</th>
                    <th>
                        <div class="input-group">
                            <div class="col-sm-5">
                                <BSBasicInput Class="form-control" @bind-Value="partner.Boost" @onkeyup="PlayerInfo.PartnerInfo.UpdateBoosts" InputType="InputType.Number" tabindex="3" />
                            </div>
                            <label class="control-label col-sm-2">@((partner.Boost * .025).ToString("0.###"))</label>
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <div class="col-sm-5">
                                <BSBasicInput @bind-Value="partner.HouseBoost" @onkeyup="PlayerInfo.PartnerInfo.UpdateBoosts" InputType="InputType.Number" />
                            </div>
                            <label class="control-label col-sm-2">@(partner.BoostedHouseBoost)</label>
                        </div>
                    </th>
                    <td>@partner.EnchantBoost</td>
                    <th>
                        <div class="input-group">
                            <div class="col-sm-5">
                                <BSBasicInput @bind-Value="PlayerInfo.BaseInfo.village.boosts.mill" @onkeyup="PlayerInfo.PartnerInfo.UpdateBoosts" InputType="InputType.Number" />
                            </div>
                            <label class="control-label col-sm-2">@(partner.BoostedVillageBoost)</label>
                        </div>
                    </th>
                    <th><BSBasicInput @bind-Value="PlayerInfo.Vip" @onchange="PlayerInfo.PartnerInfo.UpdateBoosts" InputType="InputType.Checkbox" /></th>
                    <th>@partner.Level</th>
                    <th>@PlayerInfo.PartnerInfo.KingdomBonus</th>
                    <th><BSBasicInput @bind-Value="PlayerInfo.PartnerInfo.Tax" @oninput="@(e => TaxUpdate(e))" InputType="InputType.Number" /></th>
                    <th>@partner.Taxed</th>
                    <th>@partner.Res.ToString("0.####") (@Math.Round(partner.Res))</th>
                    <th>@partner.ResPostTax</th>
                    <th>@partner.ResHour.ToString("N0")</th>

                </tr>
                }
            </tbody>
        </BSTable>

    </BSCollapse>
    <br/>
    <BSButton Color="Color.Primary" OnClick="@(e => toggleDropDowns(e, "final"))">final</BSButton>
    <BSCollapse IsOpen="@Toggles["final"]">
        <BSTable IsStriped="true" IsSmall="true" IsBordered="true">
            <thead>
                <tr>
                    <th scope="col">type</th>
                    <th>pet food</th>
                    <th>taxed/hour</th>
                    <th>pet food/hour</th>
                    <th>final/hour</th>
                    <th>final/day</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var partner in PlayerInfo.PartnerInfo.FinalPartners) {
                    <tr>
                        <th>@partner.Key</th>
                        <th><BSBasicInput @bind-Value="partner.Value.PetFood" @onkeyup="partner.Value.updatePetPerHour" InputType="InputType.Number"></BSBasicInput></th>
                        <th>@partner.Value.TaxedPerHour.ToString("N0")</th>
                        <th>@partner.Value.PetFoodPerHour.ToString("N0")</th>
                        <th>@partner.Value.FinalPerHour.ToString("N0")</th>
                        <th>@((partner.Value.FinalPerHour * 24).ToString("N0"))</th>
                    </tr>
                }
            </tbody>
        </BSTable>
    </BSCollapse>
}

@code {
    public string name;
    public FullWrapper PlayerInfo;
    Dictionary<string, bool> Toggles = new Dictionary<string, bool> {
                { "current", true },
                { "new", true },
                { "boost", true },
                { "final", true },
            };

    protected async void TaxUpdate(ChangeEventArgs e) {
        var tax = Queslar.UpdateTax(e.Value.ToString());
        PlayerInfo.PartnerInfo.Tax = tax;
        PlayerInfo.PartnerInfo.UpdateBoosts();
        await localStorage.SetItemAsync("Tax", tax);
    }

    protected void OnClick(MouseEventArgs e, string resType, int partnerId) {
        PlayerInfo.PartnerInfo.SetRes(partnerId, (ResTypes)Enum.Parse(typeof(ResTypes), resType));
    }

    protected async void Refresh(MouseEventArgs e) {
        await Queslar.Update<Full>();
        PlayerInfo = Queslar.GetFullWrapper();
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            await base.OnAfterRenderAsync(firstRender);
            if (Queslar.Values.ContainsKey(typeof(Full)) && Queslar.Values[typeof(Full)] != null) {
                PlayerInfo = Queslar.GetFullWrapper();
                checkTax();
                var temp = await localStorage.GetItemAsync<Dictionary<string, bool>>("Toggles");
                if (temp != null) {
                    Toggles = temp;
                }
                StateHasChanged();
            }
        }
    }

    private async void checkTax() {
        var tax = await localStorage.GetItemAsync<string>("Tax");
        if (tax != null && tax != "" && tax != "0") {
            PlayerInfo.PartnerInfo.Tax = Queslar.UpdateTax(tax);
            PlayerInfo.PartnerInfo.UpdateBoosts();
        }
    }

    private async void toggleDropDowns(MouseEventArgs e, string type) {
        Toggles[type] = !Toggles[type];
        await localStorage.SetItemAsync("Toggles", Toggles);
    }
}
